name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", 3.11, 3.12, 3.13]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          prune-cache: ${{ matrix.os != 'windows-latest' }}


      - name: Test install
        shell: bash
        run: |
          uv pip install .
          uv pip uninstall sain

      - name: Run Pytest
        shell: bash
        run: |
          uv sync --frozen --only-group nox

          nox -s pytest

  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: "3.12"
          activate-environment: true

      - name: Install nox
        run: |
          uv sync --frozen --only-group nox

      - name: Run codespell
        if: always() && !cancelled()
        run: |
          nox -s codespell

      - name: Run Format
        if: always() && !cancelled()
        run: |
          nox -s fmt

      - name: Run Typecheck
        if: always() && !cancelled()
        run: |
          nox -s pyright

      - name: Run Slotscheck
        if: always() && !cancelled()
        run: |
          nox -s slotscheck
