name: Release

on:
  release:
    types: [published]

jobs:
  release:
    environment: deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup uv
        uses: astral-sh/setup-uv@2ddd2b9cb38ad8efd50337e8ab201519a34c9f24 # v7.1.1
        with:
          python-version: 3.12
          activate-environment: true

      - name: Release
        run: |
          uv sync
          uv build && uv publish --token ${{ secrets.PYPY_TOKEN }}