name: Release

on:
  release:
    types: [published]

jobs:
  release:
    environment: deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          python-version: 3.12
          activate-environment: true

      - name: Release
        run: |
          uv sync
          uv build && uv publish --token ${{ secrets.PYPY_TOKEN }}