name: Release

on:
  release:
    types: [published]

jobs:
  release:
    environment: deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          python-version: 3.12
          activate-environment: true

      - name: Release
        run: |
          uv sync
          uv build && uv publish --token ${{ secrets.PYPY_TOKEN }}